include *.in
include *.rst
include *.txt
recursive-include docs *.GPL
recursive-include docs *.rst
recursive-include news *.internal
recursive-include news *.jinja
recursive-include src *.pot
recursive-include src *.sh
recursive-include src *.xml
recursive-include src *.zcml
